@import '../utils/variables';

.Graph-main-container {
  background: #fff;
  box-shadow: $box-shadow;
  padding: 5rem 0rem 2.5rem 3.5rem;
  // margin: 3rem;
  .xAxis {
    line {
      stroke: $deep-dark-gray;
      stroke-width: $main-stroke-width;
    }
    path {
      stroke: $deep-dark-gray;
      stroke-width: $main-stroke-width;
    }
    text {
      font-size: $main-font-size;
    }
  }
  .yAxis {
    line {
      stroke: $deep-dark-gray;
      stroke-width: $main-stroke-width;
    }
    path {
      stroke: $deep-dark-gray;
      stroke-width: $main-stroke-width;
    }
    text {
      font-size: $main-font-size;
    }
  }
  .line {
    path {
      fill: transparent;
      stroke: $primary-color;
      stroke-width: 1.8;
    }
  }
}
