@import '../utils/variables';

.Graph-sub-container {
  background: #fff;
  box-shadow: $box-shadow;
  padding: 1.5rem 0rem 0rem 2rem;
  // margin: 0rem 2rem 2rem 0rem;
  .xAxis {
    line {
      stroke: $deep-dark-gray;
      stroke-width: $sub-stroke-width;
    }
    path {
      stroke: $deep-dark-gray;
      stroke-width: $sub-stroke-width;
    }
    text {
      font-size: $sub-font-size;
    }
  }
  .yAxis {
    line {
      stroke: $deep-dark-gray;
      stroke-width: $sub-stroke-width;
    }
    path {
      stroke: $deep-dark-gray;
      stroke-width: $sub-stroke-width;
    }
    text {
      font-size: $sub-font-size;
    }
  }
  .line {
    path {
      fill: transparent;
      stroke: $primary-color;
      stroke-width: $main-stroke-width;
    }
  }
}
