// colors
$primary-color: #64b5f6;
$p-light-color: #9be7ff;
$p-Dark-color: #2286c3;
$point-color: #f9a825;

$background-color: #f7f7f7;
$dark-gray: darken($background-color, 20%);
$linght-gray: lighten($background-color, 20%);
