@import 'base/reset';
@import 'base/typography';

@import 'utils/variables';

body {
  display: grid;
  width: 100%;
  background-color: #f7f7f7;
}

.App-main-container {
  margin: 3rem;
  justify-self: center;
}

.App-sub-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 3rem;
}
